.logo {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
}

.logo img {
    max-width: 30px;
}

.main_barr
{
    background-color: #E6E6E6 !important;
}

.main_font {
    height: 980px;
}

@media screen and (max-width: 400px)
{
    .main_font {
        height: 450px;
    }
}

.font_image img {
    height: auto;
    position: absolute;
    margin-right: 50px;
}



.element_navbar{
    margin-left: auto;
}

.main_image{
    height: 100%;
    min-height: 500px;
}

.comment{
    text-align: center;
    color: #fff;
    background-color: #000;
    opacity: 0.5;
    font-size: 30px;
    position: relative;
}


.marque{
    color: red;
}

.detail {
    background-color: #F8E0E0;
    width: fit-content;
    border-radius: 3px;
    margin: 0 auto;
    padding: 5px 5px;
}

.collies img {
    max-width: 300px;
 }

@media screen and (max-width: 350px)
{
    .collies img {
        max-width: 99%;
     }
}


.barre {
   font-size: 20px;
}

footer{
    margin-top: 10px;
    width: 100%;
    height: 150px;
    background-color: #CECEF6;
}



.pied p{
    padding: 2 10px !important;
}

.pied span{
    font-weight: bold;
}

footer p {
    text-align: center;

}

.text_livr {
    margin-bottom: 0;
}

.commentaire{
    padding: 0 5px;
}

.commentaire p{
    text-align: justify;
}





